<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard Responsable</title>
    <!-- IMPORTAR NAVBAR -->
    <%- include('partials/header') %>
    <!-- IMPORTAR NAVBAR -->
   
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- IMPORTAR NAVBAR -->
        <%- include('partials/navbarResponsable') %>
        <!-- IMPORTAR NAVBAR -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar IMPORTAR -->
                <%- include('partials/topbarResponsable') %>
                <!-- End of Topbar IMPORTAR -->

                <!-- Begin Page Content  -->
                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard Responsable</h1>
                        <a href="https://lookerstudio.google.com/s/h-SVENv8h8g" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Generar Reporte
                        </a>
                    </div>

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <!-- Usar clase personalizada para el texto pequeño -->
                        <h4 class="h5 mb-0 text-gray-800 text-small">A continuación te mostramos las areas que administras</h4>
                    </div>

                    <!-- Content Row -->
                     <!-- Content Row -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Áreas y sus Registros</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Área</th>
                                            <th>Mostrar Registros de Telemetría</th>
                                            <th>Mostrar Prototipos</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Área</th>
                                            <th>Mostrar Registros de Telemetría</th>
                                            <th>Mostrar Prototipos</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% areas.forEach(area=> { %>
                                            <tr>
                                                <!-- Columna 1: Tarjeta con nombre del área -->
                                                <td>
                                                    <form  method="POST">
                                                        <div class="card border-left-success shadow h-100 py-2" style="cursor: pointer;">
                                                            <div class="card-body">
                                                                <div class="row no-gutters align-items-center">
                                                                    <div class="col mr-2">
                                                                        <div
                                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                                            <%= area.nombre_area %> <!-- Nombre del área -->
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <i class="fas fa-tree fa-2x text-gray-300"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="id_area" value="<%= area.id_area %>">
                                                    </form>
                                                </td>
                    
                                                <!-- Columna 2: Tarjeta para mostrar registros de telemetría -->
                                                <td>
                                                    <form action="/registros_telemetria/por_area" method="POST">
                                                        <div class="card border-left-primary shadow h-100 py-2" style="cursor: pointer;"
                                                            onclick="this.closest('form').submit();">
                                                            <div class="card-body">
                                                                <div class="row no-gutters align-items-center">
                                                                    <div class="col mr-2">
                                                                        <div
                                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                            Mostrar Registros de Telemetría
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <i class="fas fa-tachometer-alt fa-2x text-gray-300"></i>
                                                                        <!-- Ícono de telemetría -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="id_area" value="<%= area.id_area %>">
                                                    </form>
                                                </td>
                    
                                                <!-- Columna 3: Tarjeta para mostrar prototipos -->
                                                <td>
                                                    <form action="/prototipos_por_area" method="POST">
                                                        <div class="card border-left-warning shadow h-100 py-2" style="cursor: pointer;"
                                                            onclick="this.closest('form').submit();">
                                                            <div class="card-body">
                                                                <div class="row no-gutters align-items-center">
                                                                    <div class="col mr-2">
                                                                        <div
                                                                            class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                                            Mostrar Prototipos
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <i class="fas fa-cogs fa-2x text-gray-300"></i>
                                                                        <!-- Ícono de prototipos -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="id_area" value="<%= area.id_area %>">
                                                    </form>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <iframe 
                                width="100%" 
                                height="1200" 
                                src="https://lookerstudio.google.com/embed/reporting/8962bafd-c623-4988-a39f-fbcbdcec4046/page/X2wXE" 
                                frameborder="0" 
                                style="border:0; width: 100%;" 
                                allowfullscreen 
                                sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
                            </iframe>
                        </div>
                    </div>

                    


                </div>
                <!-- /.container-fluid -->

            </div>


            <!-- End of Main Content -->

            <!-- Footer IMPORTAR-->
            <%- include('partials/footer') %>
            <!-- End of Footer IMPORTAR  -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Enserio te vas?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Logout" a continuación si está listo para finalizar su sesión actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login/responsable">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/scrips') %>
</body>

</html>